In [1]:
import json
import requests
import pandas as pd

In [2]:
header = {'Content-Type': 'application/json',\
          'Accept': 'application/json'}

df = pd.read_csv('./titanic_test.csv')
drop_cols = ['Survived', 'PassengerId', 'Name', 'Ticket', 'Cabin']

data = pd.get_dummies(df.drop(drop_cols[1:], axis=1)).fillna(-99999).to_json(orient='records')

In [3]:
resp = requests.post("http://127.0.0.1:8000/api/classification/",\
                     data = json.dumps(data),\
                     headers= header)

print(resp.status_code)

200

In [4]:
df['Survived'] = resp.json()

df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,0
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,1

In [ ]:
# resp = requests.post("http://127.0.0.1:8000/api/testa/",\
#                      data = json.dumps(data),\
#                      headers= header)
# print(resp.status_code)